@page
@model Capstonep2.Pages.Manage.Patient.PViewDetailsModel
@{
}
<a href="~/manage/patient/Dashboard?" class="btn btn-info">
    <i class="fa fa-pencil">Back</i>
</a>
<h1 class="text-center">RESERVATION DETAILS</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-autos">
            <div class="card">
                <div class="card-header bg-light">
                    <h3 class="text-center">Client Information</h3>
                </div>

                <div class="card-body ">
                    <table class="table table-striped">

                        <tr>
                            <th>Name: </th>
                            <td>@Model.View.Appointment.Client.FirstName @Model.View.Appointment.Client.MiddleName @Model.View.Appointment.Client.LastName </td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>@Model.View.Appointment.Client.Gender</td>
                        </tr>
                        <tr>
                            <th>Birthdate:</th>
                            <td>@Model.View.Appointment.Client.BirthDate</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>@Model.View.Appointment.Client.Address</td>
                        </tr>

                    </table>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header bg-light">
            <h3 class="text-center">Reservation Details</h3>
        </div>
        <div class="card-body ">

            <table class="table table-striped">

                <tr>
                    <th>Date And Time: </th>
                    <td> @Model.View.Appointment.StartTime - @Model.View.Appointment.EndTime </td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>@Model.View.Appointment.Status</td>
                </tr>
                <tr>
                    <th>Service:</th>
                    <td>@String.Join(",",Model.View.SymptomsList)</td>
                </tr>
                <tr>
                    <th>Providers:</th>
                    <td>@String.Join(",",Model.View.PurposesList)</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        
        <div class="card-header bg-light">
            <h2 class="text-center">Payment Details</h2>
        </div>
        <div class="card-body ">
            <table class="">

                <tr>
                    <th>Type: </th>
                    <td> @String.Join(",",Model.View.PaymentList) </td>
                </tr>
                <tr>
                    <th>Amount:</th>
                    <td>@Model.View.Appointment.FDescription</td>
                </tr>
                
               

            </table>

        </div>

    </div>

</div>


<div class="container">


    <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit">
        Edit Appointment
    </button>

    <div class="collapse" id="collapseEdit">
        <div class="card">
            <div class="card-header">
                <p>Edit appointment</p>
            </div>
            <div class="card-body bg-light">
                <form method="Post" asp-page-handler="Apptsedit">
                    <label>Symptoms</label>
                    <div class="form-group justify-content-center">
                        <select class="form-control selectSintomas" name="View.SymptomsEdit" multiple>
                            @{
                                if (Model.View.Services != null && Model.View.Services.Count() > 0)
                                {
                                    foreach (var symptom in Model.View.Services)
                                    {
                                        <option value="@symptom.Id">@symptom.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>



                    <label>Purpose Of Visit</label>
                    <div class="form-group justify-content-center w-100">
                        <select class="form-control selectDahilan w-100" name="View.PurposesEdit" multiple>
                            @{
                                if (Model.View.CProviders != null && Model.View.CProviders.Count() > 0)
                                {
                                    foreach (var purpose in Model.View.CProviders)
                                    {
                                        <option value="@purpose.Id">@purpose.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <input type="hidden" asp-for="View.ApptId" value="@Model.View.ApptId"/>
                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancel">
        <i class="fa fa-pencil">Cancel Appointment</i>
    </button>

    <div class="modal fade" id="cancel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel Reservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>

                <div class="modal-body bg-mustardlite">
                    <p>Are you sure you want to cancel this Reservation</p>
                </div>
                <div class="modal-footer bg-light">
                   <form method="Post" asp-page-handler="Canceled">
                   <input type="hidden" class="form-control" asp-for="View.ApptId" value="@Model.View.ApptId">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $('.selectSintomas').select2({
            ajax: {
                url: '?handler=symptomedit',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>
    <script>
        $('.selectDahilan').select2({
            ajax: {
                url: '?handler=purposeedit',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>
}













